/* Ocultar el div molesto de 000webhost */
body a[title] {
    display: none;
}

body {
    transition: background ease .3s;
}

.text-xtudio {
    color: #4285F4;
}

.container.fondo-laptop {
    background: url('../img/laptop.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}

#bienvenido {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}