/* Ocultar el div molesto de 000webhost */
body a[title] {
    display: none;
}

body {
    transition: background ease .3s;
}

.container.fondo-laptop {
    background: url('../img/life.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}

#bienvenido {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#login form {
    padding: 30px 15px;
    border: solid 1px white;
    border-radius: 15px;
    background: white;
    color: black;
}